# Ignore large dataset folders
Database/exercise-db/
Database/FoodData_Central_csv_2025-12-18/

# Ignore CSV files
*.csv

# Spring Boot config
application.yaml
application.yml
.env
Back-end/user-server/src/main/resources/firebase-service-account*.json